<div id="q"></div>
<%= form_tag("countries/find_country", method: "post") do %>
    <div id="id_gender" class="first current">
      Мужчина
      <%= radio_button("gender", "gender", "male") %>
      Женщина
      <%= radio_button("gender", "gender", "female") %>
    </div>
    <div id="id_height">
      <%= label_tag(:height, "Рост") %>
      <%= text_field_tag :height %>
    </div>
    <div id="id_weight">
      <%= label_tag(:weight, "Вес") %>
      <%= text_field_tag :weight %>
    </div>
    <div id="id_bidy_type">
      <%= label_tag(:body_type, "Телосложение") %>
      <%= select_tag(:body_type, options_for_select(1..3)) %>
    </div>
    <div id="id_color_heir">
      <%= label_tag(:hair_color, "Цвет волос") %>
      <%= select_tag(:hair_color, options_for_select(1..6)) %>
    </div>
    <div id="id_submit" class="last">
      <%= submit_tag("Search") %>
    </div>
<% end %>


<button id="prev" disabled="disabled">Prev</button>
<button id="next">Next</button>