-locale = request.original_url.split("?locale=")[1][0..1]
.buttons
  =link_to t('buttons.again'), base_test_form_path(locale: locale), class: "btn btn_color"

-@countries.each do |country|
  %ul
    -if @countries[0] == country
      %h1.main_country{"data-attribute" => "#{country}"}
        = link_to "#{t(country, :scope => :countries)}!",
        countries_render_wiki_path(wiki: "http://#{locale}.wikipedia.org/wiki/#{t(country, :scope => :countries)}", country: country),
        method: 'post', remote: true
        ="#{t('country')}"
      .country-wiki{id: "#{country}"}
      %h3.btn.btn_color#show-countries
        =t("suggest.country")
    -else
      .more-countries
        %h3
          = link_to "#{t(country, :scope => :countries)}",
          countries_render_wiki_path(wiki: "http://#{locale}.wikipedia.org/wiki/#{t(country, :scope => :countries)}", country: country),
          method: 'post', remote: true
        .country-wiki{id: "#{country}"}

.map
  #map_canvas
