-locale = request.original_url.split("?locale=")[1][0..1]
.buttons
  =link_to t('buttons.again'), base_test_form_path(locale: locale)
#country
  #{t(@country, :scope => :countries)}! #{t('country')}

-if locale == "en"
  =link_to "#{t("wiki")}", countries_render_wiki_path(wiki: "http://#{locale}.wikipedia.org/wiki/#{t(@country,
  :scope => :countries)}"), method: 'post', remote: true


.country_wiki


