!!!
%html
  %head
    %title Там ли ты живешь?
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "i18n", "translations"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "article", :property => "og:type"}
    -#%meta{:content => "Там ли ты живешь?", :property => "og:title"}/
    %meta{:content => "Пейте дети молоко - будете здоровы!", :property => "og:description"}/
    %meta{:content => "assets/img/logo.png", :property => "og:image"}/
    %meta{:content => "morning-springs-9631.herokuapp.com", :property => "og:site_name"}

  %body
    -unless @page_second
      .page.page_index
        .page__inner
          = render 'layouts/header'
          .page__main
            =yield
          -#=render 'layouts/footer'
    -else
      .page.page_second.clearfix
        .page__inner
          = render 'layouts/header'
          .page__main
            =yield
          -#=render 'layouts/footer'